<br>
<table>
	<tr>
		<td width="30"><%= image_tag "/images/workouts.png", :width => 30 %></td>
		<td><%= link_to "Все&nbsp;упражнения", exercises_url, :class => "side" %></td>
	</tr>
	<tr>
		<td width="30"><%= image_tag "/images/new.png", :width => 30 %></td>
		<td><%= link_to "Новое&nbsp;упражнение", new_exercise_url, :class => "side" %></td>
	</tr>
</table>