/* Layout Params */

div#page {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	min-height: 600px;
}

body
{
	padding: 0px;
	margin:  0px;
	font-family: Verdana;
	font-size:0.8em;
}




h1, h2, h3
{
	padding:0px;
	margin:0px;
	margin-bottom: 8px;
}

#banner_top
{
	position:absolute;
	top: 20px;
	left: 40px;
	width: 700px;
	height: 70px;
	vertical-align:middle;
	text-align: center;
	line-height: 70px;
	border:1px dotted #afafaf;
	background-color: #efefef;
	font-size: 1.6em;
}

#register_adv
{
	overflow: hidden;
	position:absolute;
	top:20px;
	right:40px;
	width: 250px;
	height:62px;
	background-color: #F0F3FF;
	border: 1px dotted #D1D9FA;
	padding: 4px;
	font-size:0.8em;
}
#menu_main
{
	padding-left:30px;
	margin-top: 110px;
	height: 35px;
	background-color: #000;
	background-image: url('/images/menu/bk_black.jpg');
}
.menu_main_element a, .menu_main_element_choosen
{
	text-align:center;
	float:left;
	background-color: black;
	width:auto;
	height:33px;
	color: white;
	margin-top:1px;
	padding-left: 10px;
	padding-right: 10px;
	line-height:33px;
}
.menu_main_element a
{
	background-color: black;
	background-image: url('/images/menu/bk_black.jpg');
	color: white;
	text-decoration: none;
}
.menu_main_element a:hover
{
	background-color: #222;
	color: #FDFFD9;
	text-decoration: none;
}
.menu_main_element_choosen
{
	background-image: url('/images/menu/bg_white.jpg');
	background-color: white;
	color: black;
}
#content
{
	padding-top:8px;
	padding-left:40px;
	margin-right: 400px;
}
#right_menu
{
	position:absolute;
	padding:5px;
	padding-right:0px;
	padding-top:0px;
	top: 160px;
	right: 40px;
	width: 350px;
}
#registration_login
{
	padding: 10px;
	background-color: #F0F3FF;
	border: 1px dotted #D1D9FA;
	color: #555;
}
.rl
{
	width:180px;
}
.rl_left
{
	float:left;
	height:40px;
	padding-right:10px;
	padding-left:20px;
}
.rl_right
{
	padding-left:20px;
}
#banner_right
{
	margin-top:20px;
	line-height:200px;
	text-align:center;
	width:350px;
	height:200px;
	border:1px dotted #afafaf;
	background-color: #efefef;
	font-size: 1.6em;
}

#footer
{
	right:40px;
	position:absolute;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:100px;
	margin-bottom:20px;
	text-align:center;
	/*background-color: #F0F3FF;*/
	/*border-top: 1px dotted #333;*/
	width: 150px;
	color: #999;
	border:1px dotted #333;
	border-bottom:0px;
	/*border-bottom:4px solid #73A2E6;*/
	/*background-image: url('/images/menu/bk_black.jpg');*/
}

.login_form
{
	border:1px solid #ccc;
	height: 1.4em;
	margin-bottom:2px;
	font-size: 1em;
}
