<h1>Редактирование мышечной группы</h1>

<%= error_messages_for :muscular_group %>

<% form_for(@muscular_group, :url => {:controller => "admin/muscular_groups", :action => "update" }, :method => :post)  do |f| %>
  	<%= render :partial => "form", :locals => {:f => f} %>
	<%= f.submit "Сохранить изменения" %>
<% end %>

<% content_for :sub_menu do %>
	<%= render :partial => "admin/menus/admin_main_submenu" %>
<% end %>
