<ul>
	<li><%= menu_link "Пользователи", admin_users_url %></li>
	<li><%= menu_link "Упражнения", admin_exercises_url %></li>
	<li><%= menu_link "Мышечные группы", admin_muscular_groups_url %></li>
</ul>